<h3 id="example-image-folder-picker">Image Folder Picker</h3>

<p>Again, the Custom Content Part is also exposing mechanisms to launch the image folder picker.</p>

<ul>
  <li><code>BLACKBAUD.api.customPartEditor.canLaunchImageFolderPicker</code></li>
  <li><code>BLACKBAUD.api.customPartEditor.launchImageFolderPicker</code></li>
</ul>

<p>In this example, we're also introducing the use of the <a href="{{ site.baseurl }}/reference/rest/#imageapi">Images endpoint</a> of our <a href="{{ site.baseurl }}/reference/rest/">REST API</a>, but you could also easily use the <a href="{{ site.baseurl }}/reference/javascript/#imageapi">ImageService</a>. In an effort to make the end result more visually appealing to the end user, we've also chosen to use the <a href="http://owlgraphic.com/owlcarousel/">OWL Carousel</a>.</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#example-image-folder-picker-initialize" data-toggle="tab">Initialize</a></li>
  <li><a href="#example-image-folder-picker-editor" data-toggle="tab">Editor</a></li>
  <li><a href="#example-image-folder-picker-display" data-toggle="tab">Display</a></li>
  {% include download-on-github.html repo="BBIS-Custom-Content-Parts" %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="example-image-folder-picker-initialize">
    {% include copy-code.html %}
    {% highlight js %}imageFolderPickerRender{% endhighlight %}
  </div>
  <div class="tab-pane" id="example-image-folder-picker-editor">
{% include copy-code.html %}
{% highlight html %}
<p>
  <strong>Selected Folder Name:</strong>
  <span class="selected-folder-name"></span>
</p>
    
<p>
  <strong>Selected Folder GUID:</strong>
  <span class="selected-folder-guid"></span>
</p>
  
<p>
  <button class="btn-select">Select Folder</button>
</p>
      
<script>
!function($) {
  
  $(function() {
    
    // Read our previously saved name (if it exists)
    if (typeof BLACKBAUD.api.customPartEditor.settings.selectedName != '') {
      $('.selected-folder-name').text(BLACKBAUD.api.customPartEditor.settings.selectedName);
    }
    
    // Read our previously saved url (if it exists)
    if (typeof BLACKBAUD.api.customPartEditor.settings.selectedGuid != '') {
      $('.selected-folder-guid').text(BLACKBAUD.api.customPartEditor.settings.selectedGuid);
    }
    
    // We must implement the onSave method
    // Returning true or false controls whether the save is successful
    BLACKBAUD.api.customPartEditor.onSave = function() {
      
      // Save our settings
      BLACKBAUD.api.customPartEditor.settings = {
        selectedName: $('.selected-folder-name').text(),
        selectedGuid: $('.selected-folder-guid').text()
      };
      
      // Required to allow the settings to save and the part to close
      return true;
    };
    
    // Bind to the link launcher button
    $('.btn-select').click(function(e) {
      
      // Stop the button from submitting our form
      e.preventDefault();
              
      // Launch the link picker, passing in our callback
      BLACKBAUD.api.customPartEditor.folders.launchImageFolderPicker({
        callback: function(selectedFolder) {
          $('.selected-folder-name').text(selectedFolder.folderName);
          $('.selected-folder-guid').text(selectedFolder.folderGUID);
        }
      });
        
    })
    
  });
  
}(jQuery);     
</script>
{% endhighlight %}
  </div>
  <div class="tab-pane" id="example-image-folder-picker-display">
{% include copy-code.html %}
{% highlight html %}
<div class="carousel">Loading...</div>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
    
<script>
function imageFolderPickerRender(instance) {
  
  var placeholder = $('#' + instance.elementId + ' .carousel');
  
  placeholder.owlCarousel({
    singleItem: true,
    jsonPath: BLACKBAUD.api.pageInformation.rootPath + '/WebApi/Images?FolderGUID=' + instance.settings.selectedGuid,
    jsonSuccess: function(images) {
      var content = '';
      for (var i = 0, j = images.length; i < j; i++) {
        content += '<img src="' + images[i].Url + '" alt="' + images[i].Caption + '" />';
      }
      placeholder.html(content);    
    }
  }); 
}
</script>
{% endhighlight %}
  </div>
</div>