<nav class="navbar" role="navigation" id="top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bb-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="navbar-brand">
        <img src="{{ site.baseurl }}/assets/img/logo-bbis.png" alt="Blackbaud Internet Solutions" class="img-responsive" />
      </a>
    </div>  <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="bb-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li {% if section == 'start' %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/start/">
            Getting Started
          </a>
        </li>
        <li {% if section == 'code' %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/code/">
            Code Samples
          </a>
        </li>
        <li {% if section == 'guide' %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/guide/">
            Developer Guide
          </a>
        </li>
        <li {% if section == 'reference' %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/reference/">
            Technical Reference
          </a>
        </li>
        <li {% if section == 'help' %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/help/">
            <i class="fa fa-question-circle hidden-xs"></i>
            <span class="visible-xs-inline">Help</span>
          </a>
        </li>
      </ul>
    </div>  <!-- .navbar-collapse -->

  </div>  <!-- .container -->
</nav>  <!-- .navbar.navbar-inverse -->