<div class="carousel-wrapper">
  <div class="carousel hidden-xs">
    
    <div class="slide slide-00">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8">
            <h2>Developer Guides</h2>
            <p>Developer walk-throughs and code samples have been totally revamped.  Whatever your language flavor, these guides will point you in the right direction.</p>
            <p><a href="#" class="btn btn-default btn-lg">Developer Guides are My Favorite</a></p>
          </div>  <!-- .col-sm-8 -->
          
          <div class="col-sm-4">
            <img src="../assets/img/highlights/developer_thumb.jpg" class="img-responsive img-thumbnail" alt="" />
          </div>  <!-- .col-sm-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-00 -->
    
    <div class="slide slide-01">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8">
            <h2>Technical References</h2>
            <p>We've the technical documentation for our .NET Assemblies, REST Web API's, and JavaScript SDK's the love they deserve.</p>
            <p><a href="#" class="btn btn-default btn-lg">I Dream About Technical References at Night</a></p>
          </div>  <!-- .col-sm-8 -->
          
          <div class="col-sm-4">
            <img src="../assets/img/highlights/code_thumb.jpg" class="img-responsive img-thumbnail" alt="" />
          </div>  <!-- .col-sm-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-01 -->
    
    <div class="slide slide-02">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-6">
            <h2>GitHub Code Samples</h2>
            <p>Follow along with inline code samples as you follow along in our developer guides.  Get involved by cloning our repos and contribute back with pull requests.</p>
            <p><a href="#" class="btn btn-default btn-lg">GitHub Rocks!  Yay Blackbaud Community</a></p>
          </div>  <!-- .col-sm-86-->
          
          <div class="col-sm-6">
            <h2 class="text-right">
              <i class="fa fa-3x fa-github-alt"></i> + B = <i class="fa fa-3x fa-heart"></i>
            </h2>
          </div>  <!-- .col-sm-6 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-02 -->
  </div>  <!-- .carousel -->

  <div class="carousel-nav">
    <a class="carousel-prev" href="#"><i class="fa fa-angle-left"></i></a>
    <a class="carousel-next" href="#"><i class="fa fa-angle-right"></i></a>
  </div>  <!-- .carousel-nav -->
</div>  <!-- .carousel-wrapper -->