<div class="carousel-wrapper">
  <div class="carousel hidden-xs">
    <div class="slide slide-00">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h2>Developer Guides</h2>
            <p>Developer walk-throughs and code samples have been totally revamped.</p>
          </div>  <!-- .col-sm-8 -->
          <div class="col-sm-4">
              <img src="../assets/img/highlights/178432036.jpg" alt="" class="img-responsive img-thumbnail" />
          </div>  <!-- .col-sm-4 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-00 -->
    <div class="slide slide-01">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Technical References</h2>
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-01 -->
    <div class="slide slide-02">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>GitHub Code Samples</h2>
          </div>  <!-- .col-sm-12 -->
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-02 -->
  </div>  <!-- .carousel -->

  <div class="carousel-nav">
    <a class="carousel-prev" href="#"><i class="fa fa-angle-left"></i></a>
    <a class="carousel-next" href="#"><i class="fa fa-angle-right"></i></a>
  </div>  <!-- .carousel-nav -->
</div>  <!-- .carousel-wrapper -->