<div class="carousel-wrapper">
  <div class="carousel">
    
    <div class="slide slide-00">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8">
            <h2>Developer Guide</h2>
            <p>Developer walk-throughs and code samples have been totally revamped.  Whatever your language flavor, these guides will point you in the right direction.</p>
            <p><a href="{{ site.baseurl }}/guide/" class="btn btn-default btn-lg">Developer Guides are My Favorite</a></p>
          </div>  <!-- .col-sm-8 -->
          
          <div class="col-sm-4 hidden-xs">
            <img src="{{ site.baseurl }}/assets/img/highlights/developer_thumb.jpg" class="img-responsive img-thumbnail" alt="" />
          </div>  <!-- .col-sm-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-00 -->
    
    <div class="slide slide-01">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8">
            <h2>Technical References</h2>
            <p>We've the technical documentation for our .NET Assemblies, REST Web API's, and JavaScript SDK's the love they deserve.</p>
            <p><a href="{{ site.baseurl }}/reference/" class="btn btn-default btn-lg">I Dream About Technical References at Night</a></p>
          </div>  <!-- .col-sm-8 -->
          
          <div class="col-sm-4 hidden-xs">
            <img src="{{ site.baseurl }}/assets/img/highlights/code_thumb.jpg" class="img-responsive img-thumbnail" alt="" />
          </div>  <!-- .col-sm-4 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-01 -->
    
    <div class="slide slide-02">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-6">
            <h2>GitHub Code Samples</h2>
            <p>Follow along the Developer Guides with inline code samples from our GitHub repos.  Get involved today.</p>
            <p><a href="{{ site.baseurl }}/code/" class="btn btn-default btn-lg">GitHub Rocks!  Yay Blackbaud Community</a></p>
          </div>  <!-- .col-sm-6-->
          
          <div class="col-sm-6 hidden-xs">
            <div class="img-thumbnail logo-group pull-right">
              <img src="{{ site.baseurl }}/assets/img/highlights/bIcon.jpg" alt="" class="pull-left" /><i class="fa fa-2x fa-heart"></i><i class="fa fa-2x fa-github"></i>
            </div>
          </div>  <!-- .col-sm-6 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-02 -->
    
    <div class="slide slide-03">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-6">
            <h2>Developer Network</h2>
            <p>Blackbaud Developer Network is an active community for all Blackbaud products.  Post and answer questions with the community or read blog posts from Blackbaud developers.</p>
            <p><a href="http://www.bbdevnetwork.com" class="btn btn-default btn-lg">Get Involved Today!</a></p>
          </div>  <!-- .col-sm-6-->
          
          <div class="col-sm-6 hidden-xs">
            <img src="{{ site.baseurl }}/assets/img/highlights/bbdn_thumb.jpg" class="img-responsive img-thumbnail pull-right" alt="" />
          </div>  <!-- .col-sm-6 -->
          
        </div>  <!-- .row -->
      </div>  <!-- .container -->
    </div>  <!-- .slide-02 -->
    
  </div>  <!-- .carousel -->

  <div class="carousel-nav">
    <a class="carousel-prev" href="#"><i class="fa fa-angle-left"></i></a>
    <a class="carousel-next" href="#"><i class="fa fa-angle-right"></i></a>
  </div>  <!-- .carousel-nav -->
</div>  <!-- .carousel-wrapper -->