<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><img src="{{ site.baseurl }}/assets/blackbaud-bootstrap-theme/img/logo-developer-small.png" alt="Blackbaud Developer Network" class="img-responsive" /></p>
        <ul class="list-unstyled">
          <li><a href="http://tripott.com/EE">Blackbaud Education Edge</a></li>
          <li><a href="https://www.blackbaud.com/nonprofit-resources/sdk-resources.aspx">Blackbaud Infinity SDK</a></li>
          <li><a href="http://open.convio.com/">Blackbaud Luminate</a></li>
          <li><a href="#">Blackbaud NetCommunity</a></li>
          <li><a href="#">Blackbaud Raiser's Edge</a></li>
        </ul>
      </div>  <!-- .col-sm-3 -->
      <div class="col-sm-6">
        <ul class="list-inline bb-love pull-right">
          <li>
            <a href="http://www.blackbaud.com" target="_blank">
              <img src="{{ site.baseurl }}/assets/img/logo-bb-white.png" alt="Blackbaud" class="img-responsive pull-left" />
            </a>
          </li>
          <li>
            <i class="fa fa-lg fa-plus"></i>
          </li>
          <li>
            <a href="http://www.github.com/blackbaud-community" target="_blank">
              <img src="{{ site.baseurl }}/assets/img/logo-github.png" alt="GitHub" class="img-responsive pull-left" />
            </a>
          </li>
        </ul>
      </div>  <!-- .col-sm-9 -->
    </div>  <!-- .row -->

  </div>  <!-- .container -->
</div>  <!-- .footer -->

<div class="copyright">
  <div class="container">
    <div class="col-sm-12">
      &copy; 2014 Blackbaud, Inc.  All rights reserved. 
    </div>
  </div>
</div>  <!-- .copyright -->