<ul class="nav nav-pills nav-stacked nav-sidebar">
  <li>
    <a href="#codetableapi">Code Table</a>
    <ul class="nav hide">
      <li>
        <a href="#codetableid">CodeTable/{id}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#countryapi">Country and State</a>
    <ul class="nav">
      <li>
        <a href="#country">Country</a>
      </li>
      <li>
        <a href="#countryid">Country/{Id}</a>
      </li>
      <li>
        <a href="#countryidstate">Country/{Id}/State</a>
      </li>
      <li>
        <a href="#countryidaddresscaptions">Country/{Id}/AddressCaptions</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#donationapi">Donation</a>
    <ul class="nav">
      <li>
        <a href="#partiddonationid">{PartId}/Donation/{Id}</a>
      </li>
      <li>
        <a href="#partiddonationcreate">{PartId}/Donation/Create</a>
      </li>
      <li>
        <a href="#partiddonationidcompletebbspdonation">{PartId}/Donation/{Id}/CompleteBBSPDonation</a>
      </li>
      <li>
        <a href="#partiddonationidconfirmationhtml">{PartId}/Donation/{Id}/ConfirmationHtml</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#imageapi">Image</a>
    <ul class="nav">
      <li>
        <a href="#imagesfolderguidid">Images?FolderGUID={Id}</a>
      </li>
      <li>
        <a href="#imagestagtagname">Images?Tag={TagName}</a>
      </li>
      <li>
        <a href="#imagesfoldernamesubfoldername">Images/{FolderName}/{SubFolderName}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#queryapi">Query</a>
    <ul class="nav hide">
      <li>
        <a href="#queryidcolumn1namecolumnfiltercolumn2namecolu">Query/{Id}?Column1Name{ColumnFilter}&amp;Column2Name={ColumnFilter}</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#userapi">User</a>
    <ul class="nav hide">
      <li>
        <a href="#user">User</a>
      </li>
    </ul>
  </li>
  {% include sidebar-back-to-top.html %}
</ul>