{% assign url = page.url %}

{% comment %} 
  This weird looking IF statement is necessary to determine if the node is an array or a hash.
{% endcomment %}

{% if include.node[0] %}

  {% for item in include.node %}
    <li {% if url == item._Url %} class="active" {% endif %}>

      <a href="{{ site.baseurl }}/reference/bbncextensions/{{ item._Url }}">
        {{ item._Title }}
      </a>

      {% if item.HelpTOCNode and item.HelpTOCNode contains url %}
        <ul>
          {% include sidebar-reference-recursive.html node=item.HelpTOCNode %}
        </ul>
      {% endif %}

    </li>
  {% endfor %}

{% else %}

  <li>
    <a href="{{ site.baseurl }}/reference/bbncextensions/{{ include.node._Url }}">
      {{ include.node._Title }}
    </a>

    {% if include.node.HelpTOCNode %}
      <ul>
        {% include sidebar-reference-recursive.html node=include.node.HelpTOCNode %}
      </ul>
    {% endif %}
  </li>

{% endif %}