<ul class="nav nav-pills nav-stacked nav-sidebar">
    <li><a href="#custom-content-parts">Custom Content Parts</a>
        <ul class="nav">
            <li><a href="#hello-world">Hello World</a>
            </li>
            <li><a href="#featured-image">Featured Image</a>
            </li>
            <li><a href="#query-service-directory">Query Service Directory</a>
            </li>
        </ul>
    </li>
    <li><a href="#custom-framework-parts">Custom Framework Parts</a>
        <ul class="nav">
            <li><a href="#setup">Setup</a>
            </li>
            <li><a href="#custom-pledge-form">Custom Pledge Form</a>
            </li>
            <li><a href="#constituent-search">Constituent Search</a>
            </li>
            <li><a href="#event-registration">Event Registration</a>
            </li>
            <li><a href="#barebone-secure-payments">Barebone Secure Payments</a>
            </li>
        </ul>
    </li>
    <li><a href="#how-to">How-to Developer Guides</a>
        <ul class="nav"></ul>
    </li>
  {% include sidebar-back-to-top.html %}
</ul>