<h3 id="example-tribute">Tribute Example</h3>

<p>In this example, we're back to "proceeding directly to payment," as opposed to using the Payment 2.0 Part.  This means we'll need to collect the donor information.  I've also introduced the ability to add a tribute.</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#example-tribute-html" data-toggle="tab">HTML</a></li>
  <li><a href="#example-tribute-js" data-toggle="tab">JS</a></li>
  {% include download-on-github.html repo="BBIS-ADF-Examples" %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="example-tribute-html">
{% include copy-code.html %}
{% highlight html %}
<h3>Donor Information</h3>
<dl>
  <dt>First Name</dt>
  <dd><input type="text" id="first-name" /></dd>
  
  <dt>Last Name</dt>
  <dd><input type="text" id="last-name" /></dd>
  
  <dt>Email</dt>
  <dd><input type="text" id="email" /></dd>
  
  <dt>Address</dt>
  <dd><textarea id="address"></textarea></dd>
  
  <dt>City</dt>
  <dd><input type="text" id="city" /></dd>
  
  <dt>State</dt>
  <dd><input type="text" id="state" /></dd>
  
  <dt>Zip</dt>
  <dd><input type="text" id="zip" /></dd>
  
  <dt>Country</dt>
  <dd><input type="text" id="country" /></dd>
</dl>

<h3>Tribute Information</h3>
<dl>
  <dt>First Name</dt>
  <dd><input type="text" id="tribute-first-name" /></dd>
  
  <dt>Last Name</dt>
  <dd><input type="text" id="tribute-last-name" /></dd>
  
  <dt>Description</dt>
  <dd><textarea id="tribute-description"></textarea></dd>
</dl>
      
<h3>Acknowledgee Information</h3>
<dl>
  <dt>First Name</dt>
  <dd><input type="text" id="acknowledgee-first-name" /></dd>
  
  <dt>Last Name</dt>
  <dd><input type="text" id="acknowledgee-last-name" /></dd>
  
  <dt>Email</dt>
  <dd><input type="text" id="acknowledgee-email" /></dd>
  
  <dt>Address</dt>
  <dd><textarea id="acknowledgee-address"></textarea></dd>
  
  <dt>City</dt>
  <dd><input type="text" id="acknowledgee-city" /></dd>
  
  <dt>State</dt>
  <dd><input type="text" id="acknowledgee-state" /></dd>
  
  <dt>Zip</dt>
  <dd><input type="text" id="acknowledgee-zip" /></dd>
  
  <dt>Country</dt>
  <dd><input type="text" id="acknowledgee-country" /></dd>
</dl>
      
<p><button class="btn-donate">Donate</button></p>
{% endhighlight %}
    </div>
    <div class="tab-pane" id="example-tribute-js">
{% include copy-code.html %}
{% highlight js %}
// Let's be good developers and not pollute the global namespace
(function($) {
  
  // Let's make sure the DOM is ready
  $(function() {
    
    // Create an instance of the DonationService
    var ds = new BLACKBAUD.api.DonationService(
      $('.BBDonationApiContainer').data('partid')
    );
    
    // Create the donation object we'll send
    // In order to simplify our examples, some of this information is hard-coded.
    var donation = {
      MerchantAccountId: '00000000-0000-0000-0000-000000000000',
      Tribute: {},
      Gift: {
        PaymentMethod: 0,
        Designations: [
          {
            Amount: 5.00,
            DesignationId: '00000000-0000-0000-0000-000000000000'
          }
        ]
      }
    };
    
    // Create our success handler
    var success = function(returnedDonation) {
      console.log(returnedDonation);
    };
    
    // Create our error handler
    var error = function(returnedErrors) {
      console.log('Error!');
    };
    
    // Attach our event listener to the donate button
    $('.btn-donate').click(function(e) {
      
      // Stop the button from submitting the form
      e.preventDefault(); 
      
      // Add the information our user has typed
      donation.Donor = {
        FirstName: $('#first-name').val(),
        LastName: $('#last-name').val(),
        Address: {
          StreetAddress: $('#address').val(),
          City: $('#city').val(),
          State: $('#state').val(),
          PostalCode: $('#zip').val(),
          Country: $('#country').val()
        }
      };

      // Add our tribute information
      // See REST api tech reference for more information on the Type field
      donation.Tribute.TributeDefintion = {
        Type: 'Tribute',      
        FirstName: $('#tribute-first-name'),
        LastName: $('#tribute-last-name'),
        Description: $('tribute-description')
      };
      
      // Add our acknowledgee information
      donation.Tribute.Acknowledgee = {
        FirstName: $('#acknowledgee-first-name').val(),
        LastName: $('#acknowledgee-last-name').val(),
        Address: {
          StreetAddress: $('#acknowledgee-address').val(),
          City: $('#acknowledgee-city').val(),
          State: $('#acknowledgee-state').val(),
          PostalCode: $('#acknowledgee-zip').val(),
          Country: $('#acknowledgee-country').val()
        }
      };
      
      // Submit our donation
      ds.createDonation(donation, success, error);
    });
    
  });
}(jQuery));
{% endhighlight %}
  </div>
</div>