/* 
* ==========================================================================
* GLOBAL
* ========================================================================== 
*/
  body {
    position: relative;
  }

  a {
    color: #34b1ec;
  }

  a:hover,
  a:focus {
     color: #18516C;
  }

  .btn-primary {
    background-color: #34b1ec;
    border-color: #34b1ec;
  }

  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #37BBF9;
    border-color: #37BBF9; 
  }

/* 
* ==========================================================================
* HEADER
* ========================================================================== 
*/
  .navbar {
    background: #EFEFEF;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
  }

  .navbar .navbar-nav > li.active > a,
  .navbar .navbar-nav > li.active > a:hover,
  .navbar .navbar-nav > li.active > a:focus {
    background: #34b1ec;
    color: #FFF;
  }

  .navbar .navbar-nav > li > a:hover, 
  .navbar .navbar-nav > li > a:focus {
    background: #DFDFDF;
  }

  .nav-sidebar.affix {
    position: relative;
  }

  .nav-sidebar.affix-bottom {
    position: absolute;
  }

/* 
* ==========================================================================
* CAROUSEL
* ========================================================================== 
*/
  .carousel .slide p {
    font-size: 20px;
    padding: 20px 0;
    text-shadow: 1px 1px 1px #31393d;
  }

  .carousel .slide p a {
    text-shadow: none;
  }

  .carousel .slide h2 {
    font-size: 40px;
    margin-top: 60px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #31393d;
  }

  .carousel .slide img.img-thumbnail,
  .carousel .slide .logo-group {
    margin-top: 75px;
  }

  .carousel .slide .logo-group {
    color: #DDD;
  }

  .carousel .slide .logo-group img {
    margin: 7px;
    width: 75px;
  }

  .carousel .slide .logo-group .fa-heart {
    color: #FF0000;
    font-size: 50px;
    padding: 24px 15px 0 15px;
    vertical-align: top;
  }

  .carousel .slide .logo-group .fa-github {
    color: #4183c4;
    padding: 0 7px;
  }

  .carousel .slide-00 {
    background-image: url(../img/highlights/schematic_wide.jpg);
  }

  .carousel .slide-01 {
    background-image: url(../img/carousel/example-04.jpg);
  }

  .carousel .slide-02 {
    background-image: url(../img/carousel/example-03.jpg);
  }

/* 
* ==========================================================================
* SIDEBAR
* ========================================================================== 
*/

  .nav-sidebar {
    font-size: 13px;
    word-wrap: break-word;
  }

  .nav-sidebar > li.active > a, 
  .nav-sidebar > li.active > a:hover, 
  .nav-sidebar > li.active > a:focus {
    background-color: #34b1ec;
    color: #FFF;
  }

  .nav-sidebar ul.nav .active a {
    color: #000;
  }

  .nav-sidebar ul.nav a {
    padding: 5px 5px 5px 15px;
  }

  .nav-sidebar > li > a {
    padding: 5px;
  }

  .nav-sidebar ul.nav li {
    display: none;
  }

  .nav-sidebar li.active ul.nav li {
    display: block;
  }

  .nav-sidebar li.divider {
    border-bottom: solid 1px #EFEFEF;
    height: 1px;
    margin-top: 10px;
  }

  .nav-sidebar > li.back-to a {
    background: #FFF;
    color: #34b1ec;
    font-size: 12px;
  }

  .nav-sidebar > li.back-to a:focus,
  .nav-sidebar > li.back-to a:hover {
    background: #FFF;
    color: #18516C;
  }

  .nav-sidebar .back-to-top {
    display: none;
  }

  .nav-sidebar.affix .back-to-top,
  .nav-sidebar.affix-bottom .back-to-top {
    display: block;
  }


/* 
* ==========================================================================
* CONTENT
* ========================================================================== 
*/
  .content {
    background: #FFF;
  }

  .content-getting-started .content-getting-started-column {
    padding-bottom: 50px;
  }

  .content-getting-started h2 {
    padding-bottom: 20px;
  }

  .content-getting-started .btn {
    margin-top: 20px; 
  }

  .content-getting-started .btn,
  .content-latest-features .btn {
    display: block;
    white-space: normal;
    width: 100%; 
  }

  .content-latest-features .feature {
    margin-left: 5%;
    width: 90%; 
  }

  .content-latest-features .feature h3 {
    font-size: 22px; 
  }
  
  .content-latest-features .feature-split {
    border-top: solid 1px #EFEFEF;
    margin-top: 30px;
    padding-top: 30px;
  }

/* 
* ==========================================================================
* TECHNICAL REFERENCE - REST
* ========================================================================== 
*/

  .subsection-rest h2,
  .subsection-javascript h2 {
    border-bottom: solid 1px #EFEFEF;
    font-size: 18px;
    padding: 10px 0;
  }

  .subsection-rest h2 a,
  .subsection-javascript h2 a {
    padding-left: 10px;
    font-size: 12px;
  }

  .subsection-rest h2 small,
  .subsection-javascript h2 small {
    font-size: 18px;
  }

  .subsection-rest dt.description,
  .subsection-javascript dt.description {
    display: none;
  }

  .subsection-rest dt.parameters,
  .subsection-rest dt.returns,
  .subsection-javascript dt.parameters,
  .subsection-javascript dt.returns {
    color: #404040;
    font-size: 12px;
    padding: 15px 0 10px 0;
    text-transform: uppercase;
  }

  .subsection-rest .label-default,
  .subsection-javascript .label-default {
    float: right;
  }

  .subsection-rest .label-required,
  .subsection-javascript .label-required {
    background-color: #cfcfcf;
    text-transform: uppercase;
  }

  .subsection-rest td.type,
  .subsection-rest td.body,
  .subsection-javascript td.type,
  .subsection-javascript td.body {
    color: #b1b1b1;
    font-style: italic;
  }

  .subsection-rest td.name,
  .subsection-rest td.description {
    width: 40%;
  }

  .subsection-javascript td.description {
    width: 70%;
  }

  .subsection-rest td.type,
  .subsection-rest td.required,
  .subsection-javascript td.type,
  .subsection-javascript td.required {
    width: 10%;
  }

  .subsection-rest tr.example-response td,
  .subsection-javascript tr.example-response td {
    border: 0;
  }

  .subsection-javascript .table {
    margin-bottom: 60px;
  }

  .subsection-rest .table td.name,
  .subsection-javascript .table td.name {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
  }

  .section-reference.subsection-rest pre,
  .section-reference.subsection-javascript pre {
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .subsection-rest pre code,
  .subsection-javascript pre code {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  .gist {
    margin-bottom: 35px;
  }

  .gist .gist-file {
    border-top: 0 !important;
  }

  .gist pre,
  .gist code {
    font: inherit;
    white-space: pre;
  }

  ul.nav-tabs {
    margin-top: 35px;
  }

  .nav-tabs > li.tab-download {
    float: right;
  }

  .nav-tabs > li.tab-download > a {
    padding: 0;
  }

  .nav-tabs > li.tab-download > a:hover,
  .nav-tabs > li.tab-download > a:focus {
    background: none;
  }

  .nav-tabs > li.tab-download > a i {
    font-size: 30px;
  }

  .nav-tabs > li.tab-download .tooltip-inner {
    white-space: nowrap;
  }

/* 
* ==========================================================================
* TECHNICAL REFERENCE - SANDCASTLE
* ========================================================================== 
*/
  .codeSnippetContainerCodeContainer {
    position: relative;
    top: -1px;
  }

  .codeSnippetContainerTab,
  .codeSnippetContainerTabActive {
    float: left; 
  }

  .codeSnippetContainerTab a,
  .codeSnippetContainerTabActive a {
    display: block;
    padding: 3px 15px;
  }

  .codeSnippetContainerTabActive a {
    background-color: #f5f5f5;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-top: solid 1px #CCC;
  }

  .codeSnippetContainerTabs {
    position: relative;
    z-index: 1;
  }

  .codeSnippetContainerTabs:before,
  .codeSnippetContainerTabs:after {
    content: " ";
    display: table;
  }

  .codeSnippetContainerTabs:after {
    clear: both;
  }

  .codeSnippetToolBarText {
    display: none;
  }

  .collapsibleRegionTitle,
  h4.subHeading {
    display: block;
    font-size: 22px;
    line-height: 22px;
    padding: 20px 0 10px 0;
  }

  .section-reference pre {
    border-radius: 0;
    -webkit-border-radius: 0;
    border: solid 1px #CCC;
  }

  /** BEGIN COPY - branding.css **/
  span.code, span.command {
      font-family: Consolas, Courier, monospace;
      color: #000066;
  }
  span.ui {
      font-weight: bold;
  }
  span.math {
      font-style: italic;
  }
  span.input {
      font-weight: bold;
  }
  span.term {
      font-style: italic;
  }
  span.label {
      font-weight: bold;
  }
  span.foreignPhrase, span.phrase {
      font-style: italic;
  }
  span.placeholder {
      font-style: italic;
  }
  span.typeparameter {
      font-style: italic;
  }
  span.identifier {
  }
  span.keyword {
      color: #8C8C8C;
  }
  span.parameter {
      font-style: italic;
  }
  dt span.parameter {
      font-weight: normal;
  }
  span.literal, span.literalValue {
      color: #cc0000;
  }
  span.comment {
      color: #006633;
  }
  span.introStyle {
      color: #a9a9a9;
  }
  span.nolink {
      font-weight: bold;
  }
  /** END COPY **/

/* 
* ==========================================================================
* TECHNICAL REFERENCE - SIDEBAR
* ========================================================================== 
*/
  .row-wrapper {
    overflow: hidden;
    position: relative;
  }

  .content-wrapper {
    background: #FFF;
  }

  .nav-transition .content-wrapper {
    -webkit-transition: margin 0.5s ease, width 0.5s ease;
    -moz-transition: margin 0.5s ease, width 0.5s ease;
    -o-transition: margin 0.5s ease, width 0.5s ease;
    transition: margin 0.5s ease, width 0.5s ease;
  }

  .subsection-bbncextensions .sidebar-wrapper {
    position: absolute;
  }
  
  .subsection-bbncextensions .sidebar ul {
    margin: 0;
    padding: 0 0 0 20px;
  }

  .subsection-bbncextensions .sidebar > ul {
    margin: 0;
    padding: 0;
  }

  .subsection-bbncextensions .sidebar li {
    display: none;
  }

  .subsection-bbncextensions .sidebar li.active,
  .subsection-bbncextensions .sidebar li.active > ul > li,
  .subsection-bbncextensions .sidebar ul.trail > li,
  .subsection-bbncextensions .sidebar > ul > li {
    display: block; 
  }

  .subsection-bbncextensions .sidebar ul ul li.active > a {
    background: #EFEFEF;
  }

  .subsection-bbncextensions .sidebar > ul > li.active > ul {
    padding-top: 10px;
  }

  .breadcrumb {
    margin-top: 20px
  }

  .breadcrumb > li + li:before {
    font-family: FontAwesome;
    font-size: 12px;
    content: "\00a0\f105\00a0" 
  }

  .nav-visible .toggle-sidebar {
    color: #777;
  }

/* 
* ==========================================================================
* FOOTER
* ========================================================================== 
*/
  .bb-love {
    padding-top: 40px;
  }

  .bb-love li {
    vertical-align: middle;
  }

  .bb-love .fa-heart {
    color: #7F0000;
  }

/* 
* ==========================================================================
* RESPONSIVE - SMALL (AND UP)
* ========================================================================== 
*/
@media (min-width: 768px) {
  
  .breadcrumb {
    margin-top: 0;
  }
  
  .content {
    padding: 30px 0;
  }

  .content-getting-started .btn,
  .content-latest-features .btn {
    display: inline-block;
    width: auto;
  }
  
  .content-getting-started-column {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  
  .footer .dl-horizontal {
    float: right;
  }

}

/* 
* ==========================================================================
* RESPONSIVE - BETWEEN SMALL + MEDIUM
* ========================================================================== 
*/
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand {
    padding-top: 18px;
    width: 215px;
  }

}

/* 
* ==========================================================================
* RESPONSIVE - MEDIUM (AND UP)
* ========================================================================== 
*/
@media (min-width: 992px) {

  .nav-sidebar.affix {
    position: fixed;
    top: 10px;
  }

}

