/* 
* ==========================================================================
* CAROUSEL
* ========================================================================== 
*/
  .carousel .slide-00 {
    background-image: url(../img/carousel/example-00.jpg);
  }

  .carousel .slide-01 {
    background-image: url(../img/carousel/example-01.jpg);
  }

  .carousel .slide-02 {
    background-image: url(../img/carousel/example-02.jpg);
  }

  .carousel .slide-03 {
    background-image: url(../img/carousel/example-03.jpg);
  }

  .carousel .slide-04 {
    background-image: url(../img/carousel/example-04.jpg);
  }

/* 
* ==========================================================================
* CONTENT
* ========================================================================== 
*/
  .content {
    background: #FFF;
  }

  .content-getting-started .content-getting-started-column {
    padding-bottom: 60px;
  }

  .content-getting-started h2 {
    padding-bottom: 20px;
  }

  .content-getting-started .btn {
    margin-top: 20px; 
  }

  .content-latest-features .btn {
    display: block;
    white-space: normal;
    width: 100%; 
  }

/* 
* ==========================================================================
* RESPONSIVE
* ========================================================================== 
*/
@media (min-width: 768px) { 
  .content {
    padding: 60px 0;
  }
  .content-latest-features .btn {
    display: inline-block;
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-brand {
    width: 215px;
  }
}