<ul class="nav nav-pills nav-stacked nav-sidebar scrollspy-start">
  {% include sidebar-top.html %}
  <li>
    <a href="#getting-started">Getting Started</a>
    <ul class="nav">
      <li>
        <a href="#getting-started-overview">Overview</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#development-environment">Development Environment</a>
    <ul class="nav">
      <li>
        <a href="#development-environment-overview">Overview</a>
      </li>
      <li>
        <a href="#development-environment-create-single-environment">Create Single Machine Environment</a>
      </li>
      <li>
        <a href="#development-environment-blackbaud-crm">Blackbaud CRM</a>
      </li>
      <li>
        <a href="#development-environment-blackbaud-internet-solutions">Blackbaud Internet Solutions</a>
      </li>
      <li>
        <a href="#development-environment-infinity-sdk">Infinity SDK</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#bbis-understanding">BBIS Understanding</a>
    <ul class="nav">
      <li>
        <a href="#bbis-understanding-overview">Overview</a>
      </li>
      <li>
        <a href="#bbis-understanding-website-customizations">Website Customizations</a>
      </li>
      <li>
        <a href="#bbis-understanding-types-of-customizations">Types of Customizations</a>
      </li>
      <li>
        <a href="#bbis-understanding-access-crm">Accessing Blackbaud CRM</a>
      </li>
      <li>
        <a href="#bbis-understanding-working-with-guids">Working with GUIDs</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {% include sidebar-back-to-top.html %}
</ul>