<ul class="nav nav-pills nav-stacked nav-sidebar">
  {% include sidebar-top.html %}
  <li>
    <a href="#getting-started">Getting Started</a>
  </li>
  <li>
    <a href="#development-environment">Development Environment</a>
    <ul class="nav">
      <li>
        <a href="#blackbaud-crm">Blackbaud CRM</a>
      </li>
      <li>
        <a href="#blackbaud-internet-solutions">Blackbaud Internet Solutions</a>
      </li>
      <li>
        <a href="#infinity-sdk">Infinity SDK</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#bbis-understanding">BBIS Understanding</a>
    <ul class="nav">
      <li>
        <a href="#">Website Customizations</a>
      </li>
      <li>
        <a href="#">Types of Customizations</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {% include sidebar-back-to-top.html %}
</ul>