---
sidebar: sidebar.html
sidebarRelative: true
---

<h1>Developer Guide</h1>

{% include_relative advanced-donation-form.html title="advanced-donation-form" %}
{% include_relative blackbaud-secure-payments.html title="blackbaud-secure-payments" %}
{% include_relative custom-content-parts.html title="custom-content-parts" %}
{% include_relative custom-framework-parts.html title="custom-framework-parts" %}
{% include_relative custom-handlers.html title="custom-handlers" %}
{% include_relative user-imports.html title="user-imports" %}
