<ul class="nav nav-pills nav-stacked nav-sidebar">
  {% include sidebar-top.html %}
  <li>
    <a href="#advanced-donation-form">Advanced Donation Form</a>
    <ul class="nav">
      <li>
        <a href="#advanced-donation-form-setup">Setup</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-1">Example 1 - Barebones</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-2">Example 2 - Payment 2.0</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-3">Example 3 - Recurrence + Tribute</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-4">Example 4 - Blackbaud Secure Payments</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-5">Example 5 - Complete Example</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#blackbaud-secure-payments">Blackbaud Secure Payments</a>
    <ul class="nav">
      <li>
        <a href="#blackbaud-secure-payments-overview">Overview</a>
      </li>
      <li>
        <a href="#blackbaud-secure-payments-usage">Usage</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-content-parts">Custom Content Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-content-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-1">Hello World</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-2">Featured Image</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-3">Query Service Directory</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-framework-parts">Custom Framework Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-framework-parts-overview">Overview</a>
      </li>
      <li>
        <a href="#custom-framework-parts-infinity">Infinity</a>
      </li>
      <li>
        <a href="#custom-framework-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-framework-parts-projects">Projects</a>
      </li>
      <li>
        <a href="#custom-framework-parts-creation">Creation</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-1">Custom Pledge Form</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-2">Constituent Search</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-3">Event Registration</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-4">Barebone Secure Payments</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-handlers">Custom Handlers</a>
    <ul class="nav">
      <li>
        <a href="#custom-handlers-overview">Custom Handlers Overview</a>
      </li>
      <li>
        <a href="#custom-handlers-write">Write a Custom Handler</a>
      </li>
      <li>
        <a href="#custom-handlers-call">Call a Custom Hanlder</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#user-imports">User Imports</a>
    <ul class="nav">
      <li>
        <a href="#user-imports-export">Export Constituents from Blackbaud CRM</a>
      </li>
      <li>
        <a href="#user-imports-create">Create a User Import</a>
      </li>
      <li>
        <a href="#user-imports-schedule">Schedule User Imports</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {% include sidebar-back-to-top.html %}
</ul>