<ul class="nav nav-pills nav-stacked nav-sidebar">
  {% include sidebar-top.html %}
  <li>
    <a href="#advanced-donation-form">Advanced Donation Form</a>
    <ul class="nav">
      <li>
        <a href="#advanced-donation-form-setup">Setup</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-barebones">Barebones Example</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-payment-2-0">Payment 2.0</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-recurrence-tribute">Recurrence + Tribute</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-secure-payments">Blackbaud Secure Payments</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-complete">Complete Example</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#blackbaud-secure-payments">Blackbaud Secure Payments</a>
    <ul class="nav">
      <li>
        <a href="#blackbaud-secure-payments-overview">Overview</a>
      </li>
      <li>
        <a href="#blackbaud-secure-payments-usage">Usage</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-content-parts">Custom Content Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-content-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-hello-world">Hello World</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-featured-image">Featured Image</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-query-service-directory">Query Service Directory</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-framework-parts">Custom Framework Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-framework-parts-overview">Overview</a>
      </li>
      <li>
        <a href="#custom-framework-parts-infinity">Infinity</a>
      </li>
      <li>
        <a href="#custom-framework-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-framework-parts-projects">Projects</a>
      </li>
      <li>
        <a href="#custom-framework-parts-creation">Creation</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-pledge-form">Custom Pledge Form</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-constituent-search">Constituent Search</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-event-registration">Event Registration</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-secure-payments">Blackbaud Secure Payments</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-handlers">Custom Handlers</a>
    <ul class="nav">
      <li>
        <a href="#custom-handlers-overview">Custom Handlers Overview</a>
      </li>
      <li>
        <a href="#custom-handlers-write">Write a Custom Handler</a>
      </li>
      <li>
        <a href="#custom-handlers-call">Call a Custom Hanlder</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#user-imports">User Imports</a>
    <ul class="nav">
      <li>
        <a href="#user-imports-export">Export Constituents from Blackbaud CRM</a>
      </li>
      <li>
        <a href="#user-imports-create">Create a User Import</a>
      </li>
      <li>
        <a href="#user-imports-schedule">Schedule User Imports</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {% include sidebar-back-to-top.html %}
</ul>