<ul class="nav nav-pills nav-stacked nav-sidebar">
  {% include sidebar-top.html %}
  <li>
    <a href="#advanced-donation-form">Advanced Donation Form</a>
    <ul class="nav">
      <li>
        <a href="#advanced-donation-form-setup">Setup</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-1">Example 1 - Barebones</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-2">Example 2 - Payment 2.0</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-3">Example 3 - Recurrence + Tribute</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-4">Example 4 - Blackbaud Secure Payments</a>
      </li>
      <li>
        <a href="#advanced-donation-form-example-5">Example 5 - Complete Example</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-content-parts">Custom Content Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-content-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-1">Hello World</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-2">Featured Image</a>
      </li>
      <li>
        <a href="#custom-content-parts-example-3">Query Service Directory</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#custom-framework-parts">Custom Framework Parts</a>
    <ul class="nav">
      <li>
        <a href="#custom-framework-parts-setup">Setup</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-1">Custom Pledge Form</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-2">Constituent Search</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-3">Event Registration</a>
      </li>
      <li>
        <a href="#custom-framework-parts-example-4">Barebone Secure Payments</a>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {% include sidebar-back-to-top.html %}
</ul>