{% include vars.html %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blackbaud Internet Solutions</title>
  <link rel="icon" href="{{ site.baseurl }}/assets/blackbaud-bootstrap-theme/img/favicon.ico" type="image/ico">
  
  {% for css in site.css %}
    <link rel="stylesheet" href="{% if css.base %}{{ site.baseurl }}{% endif %}{{ css.url }}">
  {% endfor %}
  
  {% for css in page.css %}
    <link rel="stylesheet" href="{% if css.base %}{{ site.baseurl }}{% endif %}{{ css.url }}">
  {% endfor %}

  {% for js in page.js %}
    <script src="{% if js.base %}{{ site.baseurl }}{% endif %}{{ js.url }}"></script>
  {% endfor %}
  
</head>
<body class="layout-{{ page.layout }} section-{{ section }} subsection-{{ subsection }}">
  
  {% include body-prefix.html %}

  {% if page.carousel %}
    {% include body-carousel.html %}
  {% endif %}
  
  {% if page.section-header %}
    <div class="section-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>{{ page.section-header }}</h1>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  <div class="content">
    {{ content }}
  </div>
  
  {% include body-suffix.html %}
  
  {% for js in site.js %}
    <script src="{% if js.base %}{{ site.baseurl }}{% endif %}{{ js.url }}"></script>
  {% endfor %}
  
</body>
</html>