<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{ site.title }}</title>
</head>
<body>
  
<div class="content">
  <div class="container">
    <div class="row">
      
      <div class="col-md-9 col-md-push-3">
        {{ content }}
      </div>  <!-- .col-md-9 -->
      
      <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm">
        <div class="sidebar">
          
        </div>
      </div>  <!-- .col-md-3 -->
      
    </div>  <!-- .row -->
  </div>  <!-- .container -->  
</div>  <!-- .content -->
  
</body>
</html>