---
layout: base
---

{% include vars.html %}

<div class="container">
  <div class="row">

    {% if page.sidebar != "" %}

      <div class="col-md-9 col-md-push-3">
        {{ content }}
      </div>  <!-- .col-md-9 -->

      <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm">
        <div class="sidebar">
          {% include {{ page.sidebar }} %}
        </div>
      </div>  <!-- .col-md-3 -->

    {% else %}

      <div class="col-sm-12">
        {{ content }}
      </div>

    {% endif %}

  </div>  <!-- .row -->
</div>  <!-- .container -->
