---
layout: base
---

{% include vars.html %}

<div class="container">
  
  <div class="row row-wrapper">
    
    <div class="sidebar-wrapper col-md-3 hidden-xs hidden-sm">
      <div class="sidebar">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
          <li>
            <a href="{{ site.baseurl }}/reference/bbncextensions/">BBNCExtensions Assembly</a>
          </li>
          <li {% if subsection == 'rest' %} class="active" {% endif %} >
            <a href="{{ site.baseurl }}/reference/rest/">Rest API</a>
            <ul>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#CodeTableApi">Code Table</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#CountryApi">Country and State</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#DonationApi">Donation</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#QueryApi">Query</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#ImageApi">Image</a>
              </li>
              <li>
                <a href="{{ site.baseurl }}/reference/rest/#UserApi">User</a>
              </li>
            </ul>
          </li>
          <li {% if subsection == 'javascript' %} class="active" {% endif %} >
            <a href="{{ site.baseurl }}/reference/javascript/">JavaScript SDK</a>
          </li>
          {% include sidebar-back-to-top.html %}
        </ul>
      </div>  <!-- .sidebar -->
    </div>  <!-- .col-md-3 -->

    <div class="content-wrapper col-md-9">
      {{ content }}
    </div>  <!-- .col-md-9 -->

  </div>  <!-- .row -->
</div>  <!-- .container -->
