---
layout: base
sidebar: "sidebar-reference.html"
js:
  -
    url: /assets/js/branding.js
    base: true
  -
    url: /assets/js/branding-Website.js
    base: true
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb"></ol>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 col-md-push-6">
      {{ content }}
    </div>  <!-- .col-md-6 -->

    <div class="col-md-6 col-md-pull-6 hidden-xs hidden-sm">
      <div class="sidebar">
        <ul>
          <li {% if subsection == 'bbncextensions' %} class="active" {% endif %} >
            <a href="{{ site.baseurl }}/reference/bbncextensions/">BBNCExtensions Assembly</a>
            {% include sidebar-reference.html node=site.data.WebTOC.HelpTOC.HelpTOCNode.HelpTOCNode %}
          </li>
          <li {% if subsection == 'rest' %} class="active" {% endif %} >
            <a href="{{ site.baseurl }}/reference/rest/">Rest API</a>
          </li>
          <li {% if subsection == 'javascript' %} class="active" {% endif %} >
            <a href="{{ site.baseurl }}/reference/javascript/">JavaScript SDK</a>
          </li>
        </ul>
      </div>  <!-- .sidebar -->
    </div>  <!-- .col-md-6 -->

  </div>  <!-- .row -->
</div>  <!-- .container -->