---
layout: base
js:
  - url: /assets/js/branding.js
    base: true
  - url: /assets/js/branding-Website.js
    base: true
---

{% include vars.html %}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">

          {% for crumb in page.breadcrumbs reversed %}
            <li>
              <a href="{{crumb.url}}">{{crumb.title}}</a>
            </li>
          {% endfor %}

          <li class="active">
            {{page.title}}
          </li>
        </ol>
      </div>
    </div>

    <div class="row row-wrapper">

      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="sidebar">
          <ul class="nav nav-pills nav-stacked nav-sidebar">
            {% include sidebar-back-to-section.html title="Technical Reference" %}
            {% include_relative sidebar.html %}
            {% include sidebar-back-to-top.html %}
          </ul>
        </div>  <!-- .sidebar -->
      </div>  <!-- .col-md-6 -->

      <div class="content-wrapper col-md-8 readability">
        {{ content }}
      </div>  <!-- .col-md-12 -->

    </div>  <!-- .row -->
  </div>  <!-- .container -->
</div>  <!-- .content -->
